@model SneakerInside.Models.ProductItemGetAndUpdate

@{
    Layout = null;
}

<form asp-action="Update" onsubmit="return submitUpdate(this);" autocomplete="off">
    <div class="form-group">
        <input type="hidden" asp-for="ProductItemID" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ProductID" class="control-label"></label>
        <select asp-for="ProductID" class="form-control" asp-items="@ViewBag.dropDownProduct"></select>
        <span asp-validation-for="ProductID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SizeID" class="control-label"></label>
        <select asp-for="SizeID" class="form-control" asp-items="@ViewBag.dropDownSize"></select>
        <span asp-validation-for="SizeID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AmountStock" class="control-label"></label>
        <input asp-for="AmountStock" class="form-control" />
        <span asp-validation-for="AmountStock" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price" class="control-label"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Chỉnh sửa" class="btn btn-info btn-block" />
    </div>
</form>