@model SneakerInside.Models.ProductGetAndUpdate

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-6">
    <div class="card card-warning">
        <div class="card-header">
            <h3 class="card-title">Chỉnh sửa @ViewBag.Name</h3>
        </div>
        <form asp-action="Edit">
            <div class="card-body">
                <div class="form-group">
                    <input hidden asp-for="ProductID" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="ProductName" class="control-label"></label>
                    <input asp-for="ProductName" class="form-control" />
                    <span asp-validation-for="ProductName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Status" class="control-label"></label>
                    <select asp-for="Status" class="form-control" asp-items="@ViewBag.status"></select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CatalogID" class="control-label"></label>
                    <select asp-for="CatalogID" class="form-control" asp-items="@ViewBag.dropDownCatalog"></select>
                    <span asp-validation-for="CatalogID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SubCatalogID" class="control-label"></label>
                    <select asp-for="SubCatalogID" class="form-control" asp-items="@ViewBag.dropDownSubCatalog"></select>
                    <span asp-validation-for="SubCatalogID" class="text-danger"></span>
                </div>
            </div>
            <div class="card-footer">
                <input type="submit" value="Chỉnh sửa" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
