@{
    ViewData["Title"] = "Home Page";
}
<section id="introduction">
    <div class="layout-slide">
        <div class="owl-carousel owl-theme">
            <div class="item">
			    <img  class="owl-lazy" src="../images/img-1.jpg"  style="opacity: 1;"/>
            </div>
            <div class="item">
			    <img  class="owl-lazy" src="../images/img-2.jpg"  style="opacity: 1;"/>
		    </div>
            <div class="item">
			    <img  class="owl-lazy" src="../images/img-1.jpg"  style="opacity: 1;"/>
		    </div>
        </div>
    </div>
</section>
<section id="content-index" class="section-products">
    <div class="container">
        <div class="row">
            <!-- Single Product -->
            <div class="col-md-4 col-sm-4 col-xs-12  pro-loop-heading">
				<div class="product-block ">
					<div class="heading_panel ">
						<h2>
							<a href="/collections/new-arrival">

								NEW ARRIVIALS
							</a>
						</h2>
						<div class="button_view_all hidden-xs">
							<a href="/collections/new-arrival" class="button dark">Xem thêm</a>
						</div>
					</div>
				</div>
			</div>
            <!-- Single Product -->
            <div class="col-md-4 col-sm-4 col-xs-12 ">
                <div id="product-2" class="single-product">
                    <div class="part-1">
                            <div class="uk-flex uk-flex-center justify-content-center picture">
                            <img title="collector" src="https://bizweb.dktcdn.net/100/294/379/products/23f6c98e-7914-43e7-9d9b-2b550ec70fba.jpg?v=1623146377000" />
                        </div>
                        <span class="discount">15% off</span>
                        <ul>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-expand"></i></a></li>
                        </ul>
                    </div>
                    <div class="part-2">
                        <h3 class="product-title">Here Product Title</h3>
                        <h4 class="product-price">$49.99</h4>
                    </div>
                </div>
            </div>
            <!-- Single Product -->
            <div class="col-md-4 col-sm-4 col-xs-12 ">
                <div id="product-3" class="single-product">
                    <div class="part-1">
                            <div class="uk-flex uk-flex-center justify-content-center picture">
                            <img title="collector" src="https://bizweb.dktcdn.net/100/294/379/products/23f6c98e-7914-43e7-9d9b-2b550ec70fba.jpg?v=1623146377000" />
                        </div>
                        <ul>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-expand"></i></a></li>
                        </ul>
                    </div>
                    <div class="part-2">
                        <h3 class="product-title">Here Product Title</h3>
                        <h4 class="product-old-price">$79.99</h4>
                        <h4 class="product-price-new">$49.99</h4>
                    </div>
                </div>
            </div>
            <!-- Single Product -->
            <div class="col-md-4 col-sm-4 col-xs-12 ">
                <div id="product-4" class="single-product">
                    <div class="part-1">
                            <div class="uk-flex uk-flex-center justify-content-center picture">
                            <img title="collector" src="https://bizweb.dktcdn.net/100/294/379/products/23f6c98e-7914-43e7-9d9b-2b550ec70fba.jpg?v=1623146377000" />
                        </div>
                        <span class="new">new</span>
                        <ul>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-expand"></i></a></li>
                        </ul>
                    </div>
                    <div class="part-2">
                        <h3 class="product-title">Here Product Title</h3>
                        <h4 class="product-price">$49.99</h4>
                    </div>
                </div>
            </div>
            <!-- Single Product -->
            <div class="col-md-4 col-sm-4 col-xs-12 ">
                <div id="product-1" class="single-product">
                    <div class="part-1">
                            <div class="uk-flex uk-flex-center justify-content-center picture">
                            <img title="collector" src="https://bizweb.dktcdn.net/100/294/379/products/23f6c98e-7914-43e7-9d9b-2b550ec70fba.jpg?v=1623146377000" />
                        </div>
                        <ul>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-expand"></i></a></li>
                        </ul>
                    </div>
                    <div class="part-2">
                        <h3 class="product-title">Here Product Title</h3>
                        <h4 class="product-old-price">$79.99</h4>
                        <h4 class="product-price-new">$49.99</h4>
                    </div>
                </div>
            </div>
            <!-- Single Product -->
            <div class="col-md-4 col-sm-4 col-xs-12 ">
                <div id="product-2" class="single-product">
                    <div class="part-1">
                            <div class="uk-flex uk-flex-center justify-content-center picture">
                            <img title="collector" src="https://i.ibb.co/cLnZjnS/2.jpg" />
                        </div>
                        <span class="discount">15% off</span>
                        <ul>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-expand"></i></a></li>
                        </ul>
                    </div>
                    <div class="part-2">
                        <h3 class="product-title">Here Product Title</h3>
                        <h4 class="product-price">$49.99</h4>
                    </div>
                </div>
            </div>
             <div class="col-md-4 col-sm-4 col-xs-12  pro-loop-heading">
				<div class="product-block ">
					<div class="heading_panel ">
						<h2>
							<a href="/collections/new-arrival">
								BEST SELLER
							</a>
						</h2>
						<div class="button_view_all hidden-xs">
							<a href="/collections/new-arrival" class="button dark">Xem thêm</a>
						</div>
					</div>
				</div>
			</div>
            <!-- Single Product -->
            <div class="col-md-4 col-sm-4 col-xs-12 ">
                <div id="product-2" class="single-product">
                    <div class="part-1">
                            <div class="uk-flex uk-flex-center justify-content-center picture">
                            <img title="collector" src="https://bizweb.dktcdn.net/100/294/379/products/23f6c98e-7914-43e7-9d9b-2b550ec70fba.jpg?v=1623146377000" />
                        </div>
                        <span class="discount">15% off</span>
                        <ul>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-expand"></i></a></li>
                        </ul>
                    </div>
                    <div class="part-2">
                        <h3 class="product-title">Here Product Title</h3>
                        <h4 class="product-price">$49.99</h4>
                    </div>
                </div>
            </div>
            <!-- Single Product -->
            <div class="col-md-4 col-sm-4 col-xs-12 ">
                <div id="product-3" class="single-product">
                    <div class="part-1">
                            <div class="uk-flex uk-flex-center justify-content-center picture">
                            <img title="collector" src="https://bizweb.dktcdn.net/100/294/379/products/23f6c98e-7914-43e7-9d9b-2b550ec70fba.jpg?v=1623146377000" />
                        </div>
                        <ul>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-expand"></i></a></li>
                        </ul>
                    </div>
                    <div class="part-2">
                        <h3 class="product-title">Here Product Title</h3>
                        <h4 class="product-old-price">$79.99</h4>
                        <h4 class="product-price-new">$49.99</h4>
                    </div>
                </div>
            </div>
            <!-- Single Product -->
            <div class="col-md-4 col-sm-4 col-xs-12 ">
                <div id="product-3" class="single-product">
                    <div class="part-1">
                            <div class="uk-flex uk-flex-center justify-content-center picture">
                            <img title="collector" src="https://bizweb.dktcdn.net/100/294/379/products/23f6c98e-7914-43e7-9d9b-2b550ec70fba.jpg?v=1623146377000" />
                        </div>
                        <ul>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-expand"></i></a></li>
                        </ul>
                    </div>
                    <div class="part-2">
                        <h3 class="product-title">Here Product Title</h3>
                        <h4 class="product-old-price">$79.99</h4>
                        <h4 class="product-price-new">$49.99</h4>
                    </div>
                </div>
            </div>
            <!-- Single Product -->
            <div class="col-md-4 col-sm-4 col-xs-12 ">
                <div id="product-4" class="single-product">
                    <div class="part-1">
                        <div class="uk-flex uk-flex-center justify-content-center picture">
                            <img title="collector" src="https://i.ibb.co/L8Nrb7p/1.jpg" />
                        </div>
                        <span class="new">new</span>
                        <ul>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-expand"></i></a></li>
                        </ul>
                    </div>
                    <div class="part-2">
                        <h3 class="product-title">Here Product Title</h3>
                        <h4 class="product-price">$49.99</h4>
                    </div>
                </div>
            </div>
             <!-- Single Product -->
            <div class="col-md-4 col-sm-4 col-xs-12 ">
                <div id="product-4" class="single-product">
                    <div class="part-1">
                        <div class="uk-flex uk-flex-center justify-content-center picture">
                            <img title="collector" src="https://i.ibb.co/L8Nrb7p/1.jpg" />
                        </div>
                        <span class="new">new</span>
                        <ul>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-expand"></i></a></li>
                        </ul>
                    </div>
                    <div class="part-2">
                        <h3 class="product-title">Here Product Title</h3>
                        <h4 class="product-price">$49.99</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
 <!-- BLOG  -->
<section class="section-home wrapper-home-information">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-xs-12 col-sm-6 ">
				<div class="deparment-img fade-box"> 	
					<a href="#">
						<img class=" ls-is-cached lazyloaded" data-src="https://file.hstatic.net/200000123907/file/bannerweb_racingcity_01_f916c844dd84475b9af4e7de402fa22b.jpg" alt="" src="https://file.hstatic.net/200000123907/file/bannerweb_racingcity_01_f916c844dd84475b9af4e7de402fa22b.jpg">
						<h3>JORDAN</h3>
					</a>
				</div>	
			</div>
			<div class="col-md-6 col-xs-12 col-sm-6">
				<div class="deparment-img fade-box">
					<a href="#">
						<img class=" ls-is-cached lazyloaded" data-src="https://file.hstatic.net/200000123907/file/bannerweb_genzero_01_0f12af7dfcbe4943b3dc1e8f5b841feb.jpg" alt="" src="https://file.hstatic.net/200000123907/file/bannerweb_genzero_01_0f12af7dfcbe4943b3dc1e8f5b841feb.jpg">
						<h3>ADIDAS</h3>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
 <!-- BLOG  -->
