@{
    ViewData["Title"] = "Danh sách đơn hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card card-secondary">
            <div class="card-header">
                <h3 class="card-title">Danh sách đơn hàng</h3>
            </div>
            <div class="card-body">
                <table id="orderTable" class="table table-bordered table-hover" width="100%">
                    <thead>
                        <tr>
                            <th>
                                Chi tiết đơn hàng
                            </th>
                            <th>
                                Ngày tạo
                            </th>
                            <th>
                                Họ tên
                            </th>
                            <th>
                                Điện thoại
                            </th>
                            <th>
                                Địa chỉ
                            </th>
                            <th>
                                Ghi chú
                            </th>
                            <th>
                                Tổng đơn hàng
                            </th>
                            <th>
                                Trạng thái
                            </th>
                            <th>
                                Hủy đơn hàng
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card card-secondary">
            <div class="card-header">
                <h3 class="card-title">Chi tiết đơn hàng</h3>
            </div>
            <div class="card-body">
                <table id="orderDetailTable" class="table table-bordered table-hover" width="100%">
                    <thead>
                        <tr>
                            <th>
                                Ảnh
                            </th>
                            <th>
                                Tên sản phẩm
                            </th>
                            <th>
                                Size
                            </th>
                            <th>
                                Giá mua
                            </th>
                            <th>
                                Số lượng mua
                            </th>
                            <th>
                                Tổng
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<!--Modal hủy-->
<div class="modal fade" id="destroyModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Hủy đơn hàng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn có muốn hủy đơn hàng ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-danger" onclick="submitDestroy()">Hủy</button>
            </div>
        </div>
    </div>
</div>

<!--Modal thay đổi trạng thái-->
<div class="modal fade" id="changeStatusModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thay đổi trạng thái đơn hàng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn có muốn thay đổi trạng thái đơn hàng ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-danger" onclick="submitChangeStatus()">Thay đổi</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        var dataTable, tempId, tempStatus;

        //Lấy dữ liệu lên bảng
        $(document).ready(function () {
            dataTable = $('#orderTable').DataTable({
                ajax: {
                    url: '@Url.Action("GetAll", "Order")',
                    type: 'GET',
                    datatype: 'json'
                },
                columns: [
                    {
                        data: 'orderID',
                        render: function (data) {
                            return '<button type="button" class="btn btn-info" onclick="getOrderDetailTable(' + data + ')"><i class="fas fa-edit"></i></button >';
                        },
                        orderable: false
                    },
                    {
                        data: 'dateCreate'
                    },
                    {
                        data: 'fullName'
                    },
                    {
                        data: 'phone'
                    },
                    {
                        data: 'address'
                    },
                    {
                        data: 'note'
                    },
                    {
                        data: 'total',
                        render: $.fn.dataTable.render.number(',', '.', 0, '')
                    },
                    {
                        data: null,
                        render: function (row) {
                            if (row.status == 1) {
                                return '<button type="button" class="btn btn-primary" onclick="changeStatusModal(' + row.orderID + ',2)">Đang chờ duyệt</button >';
                            }
                            else if (row.status == 2) {
                                return '<button type="button" class="btn btn-warning" onclick="changeStatusModal(' + row.orderID + ',3)">Đang giao hàng</button >';
                            }
                            else if (row.status == 3) {
                                return '<button type="button" class="btn btn-success">Đã hoàn thành</button >';
                            }
                            else if (row.status == 4) {
                                return '<button type="button" class="btn btn-danger">Đã hủy</button >';
                            }
                        },
                        orderable: false
                    },
                    {
                        data: null,
                        render: function (row) {
                            if (row.status == 1 || row.status == 2) {
                                return '<button type="button" class="btn btn-danger" onclick="destroyModal(' + row.orderID + ')"><i class="fas fa-trash-alt"></i></button >';
                            }
                            else {
                                return null
                            }
                        },
                        orderable: false
                    }
                ]
            });
        });

        //Hàm lấy danh sách chi tiết đơn hàng theo đơn hàng
        function getOrderDetailTable(data) {
            $('#orderDetailTable').DataTable({
                ajax: {
                    url: '@Url.Action("GetOrderDetailById", "Order")/' + data,
                    type: 'GET',
                    datatype: 'json'
                },
                columns: [
                    {
                        data: 'image',
                        render: function (data) {
                            return '<img src="/Images/' + data + '" asp-append-version="true" width="100" />';
                        },
                        orderable: false,
                    },
                    {
                        data: 'productName'
                    },
                    {
                        data: 'sizeName'
                    },
                    {
                        data: 'priceBuy',
                        render: $.fn.dataTable.render.number(',', '.', 0, '')
                    },
                    {
                        data: 'amountBuy'
                    },
                    {
                        data: 'total',
                        render: $.fn.dataTable.render.number(',', '.', 0, '')
                    },
                ],
                destroy: true
            });
        }

        //Hàm hiện modal hủy đơn hàng
        function destroyModal(id) {
            tempId = id;
            $("#destroyModal").modal('show');
        }

        //Hàm thực hiện hủy đơn hàng
        function submitDestroy() {
            $.ajax({
                type: "POST",
                url: "@Url.Action("Destroy", "Order")",
                data: {
                    OrderID: tempId
                },
                success: function (res) {
                    if (res.error.errorMessage == "") {
                        $.bootstrapGrowl("Hủy đơn hàng thành công", {
                            type: 'success'
                        });
                        $("#destroyModal").modal('hide');
                        dataTable.ajax.reload();
                    }
                    else {
                        $.bootstrapGrowl(res.error.errorMessage, {
                            type: 'danger'
                        });
                    }
                }
            });
        }

        //Hàm hiện modal thay đổi trạng thái
        function changeStatusModal(id,status) {
            tempId = id;
            tempStatus = status;
            $("#changeStatusModal").modal('show');
        }

        //Hàm thực hiện thay đổi trạng thái
        function submitChangeStatus() {
            $.ajax({
                type: "POST",
                url: "@Url.Action("ChangeStatus", "Order")",
                data: {
                    OrderID: tempId,
                    Status: tempStatus
                },
                success: function (res) {
                    if (res.error.errorMessage == "") {
                        $.bootstrapGrowl("Thay đổi trạng thái thành công", {
                            type: 'success'
                        });
                        $("#changeStatusModal").modal('hide');
                        dataTable.ajax.reload();
                    }
                    else {
                        $.bootstrapGrowl(res.error.errorMessage, {
                            type: 'danger'
                        });
                    }
                }
            });
        }
    </script>
}