@model SneakerInside.Models.SubCatalogGetAndUpdate

@{
    Layout = null;
}

<form asp-action="Update" onsubmit="return submitUpdate(this);" autocomplete="off">
    <div class="form-group">
        <input type="hidden" asp-for="SubCatalogID" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="SubCatalogName" class="control-label"></label>
        <input asp-for="SubCatalogName" class="form-control" />
        <span asp-validation-for="SubCatalogName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CatalogID" class="control-label"></label>
        <select asp-for="CatalogID" class="form-control" asp-items="@ViewBag.dropDownCatalog"></select>
        <span asp-validation-for="CatalogID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Status" class="control-label"></label>
        <select asp-for="Status" class="form-control" asp-items="@ViewBag.status"></select>
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Chỉnh sửa" class="btn btn-info btn-block" />
    </div>
</form>