@model IEnumerable<SneakerInside.Models.ReportRevenue>

@{
    ViewData["Title"] = "Danh sách doanh thu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-secondary">
    <div class="card-header">
        <h3 class="card-title">Danh sách doanh thu</h3>
    </div>
    <div class="card-body">
        <table id="mainTable" class="table table-bordered table-hover" width="100%">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.DateCreate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderAmount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Total)
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        //Lấy dữ liệu lên bảng
        $(document).ready(function () {
            $('#mainTable').DataTable({
                ajax: {
                    url: '@Url.Action("GetRevenue", "Report")',
                    type: 'GET',
                    datatype: 'json'
                },
                searching: false,
                ordering: false,
                dom: 'Bfrtip',
                buttons: [
                    'excel', 'pdf', 'print'
                ],
                columns: [
                    {
                        data: 'dateCreate'
                    },
                    {
                        data: 'orderAmount'
                    },
                    {
                        data: 'total',
                        render: $.fn.dataTable.render.number(',', '.', 0, '')
                    }
                ]
            });
        });
    </script>
}