<section class="section ">
    <div class="title-collection">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pd5  ">
                    <ol class="breadcrumb breadcrumb-arrows" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                            <a href="/" target="_self" itemprop="item"><span itemprop="name">Trang chủ</span></a>
                            <meta itemprop="position" content="1">
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                            <a href="/collections" target="_self" itemprop="item">
                                <span itemprop="name"> Shop All </span>
                            </a>
                            <meta itemprop="position" content="2">
                        </li>
                        <li class="active" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                            <span itemprop="item" content="https://collectors.vn/collections/new-arrival">
                                <span itemprop="name"> Dr.Bon Black Tee ''Liberty''</span>

                            </span>
                            <meta itemprop="position" content="3">
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="product-detail">
    <div class="container">
        <div class="row product-detail-main pr_style_02">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="product-gallery">
                    <div class="product-image-detail box__product-gallery scroll">
                        <ul id="sliderproduct" class="site-box-content slide_product clearfix">

                            <li class="product-gallery-item gallery-item current">
                                <img class="product-image-feature" src="https://bizweb.dktcdn.net/100/294/379/products/23f6c98e-7914-43e7-9d9b-2b550ec70fba.jpg?v=1623146377000" alt=" Dr.Bon Black Tee ''Liberty'' ">
                            </li>

                            <li class="product-gallery-item gallery-item current">
                                <img class="product-image-feature" src="https://bizweb.dktcdn.net/100/294/379/products/23f6c98e-7914-43e7-9d9b-2b550ec70fba.jpg?v=1623146377000" alt=" Dr.Bon Black Tee ''Liberty'' ">
                            </li>

                            <li class="product-gallery-item gallery-item">
                                <img class="product-image-feature" src="https://bizweb.dktcdn.net/100/294/379/products/23f6c98e-7914-43e7-9d9b-2b550ec70fba.jpg?v=1623146377000" alt=" Dr.Bon Black Tee ''Liberty'' ">
                            </li>

                            <li class="product-gallery-item gallery-item">
                                <img class="product-image-feature" src="https://bizweb.dktcdn.net/100/294/379/products/23f6c98e-7914-43e7-9d9b-2b550ec70fba.jpg?v=1623146377000" alt=" Dr.Bon Black Tee ''Liberty'' ">
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 product-content-desc" id="detail-product">
                <div class="product-title">
                    <h1>Dr.Bon Black Tee ''Liberty''</h1>
                    <span id="pro_sku">SKU: SP142786</span>
                </div>
                <div class="product-price" id="price-preview">
                    <span class="pro-price">450,000₫</span>
                </div>
                <form id="add-item-form" action="/cart/add" method="post" class="variants clearfix">
                    <div class="select-swatch clearfix">
                        <div id="variant-swatch-0" class="swatch clearfix" data-option="option1" data-option-index="0">
                            <div class="header">Kích thước:</div>
                            <select class="single-option-selector" data-option="option1" id="product-selectors-option-0"><option value="36">36</option><option value="36.5">36.5</option><option value="37.5">37.5</option><option value="38">38</option><option value="38,5">38,5</option><option value="39">39</option><option value="40">40</option></select>
                        </div>
                    </div>
                    <div class="selector-actions">
                        <div class="quantity-area clearfix">
                            <input type="button" value="-" onclick="minusQuantity()" class="qty-btn">
                            <input type="text" id="quantity" name="quantity" value="1" min="1" class="quantity-selector">
                            <input type="button" value="+" onclick="plusQuantity()" class="qty-btn">
                        </div>
                        <div class="wrap-addcart clearfix">
                            <button type="button" id="add-to-cart" class="add-to-cartProduct button red btn-addtocart addtocart-modal" name="add">Thêm vào giỏ</button>
                        </div>
                    </div>

                </form>
                <div class="hrvproduct-tabs">
                    <ul class="tabs clearfix nav nav-tabs">
                        <li><a class="active" data-toggle="tab" href="#tab1">THÔNG TIN</a></li>
                        <li><a data-toggle="tab" href="#tab2">MÔ TẢ</a></li>
                        <li><a data-toggle="tab" href="#tab3">SIZING</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane in active" id="tab1">
                            <p>- Ship cod, nhận hàng rồi thanh toán toàn quốc</p>
                            <p>- Giao hàng ngay sau khi đặt hàng</p>
                            <p>- Đổi hàng trong vòng 3 ngày.</p>
                            <p>- Cam kết chỉ bán hàng chính hãng.</p>
                        </div>


                        <div class="tab-pane fade " id="tab2">
                            <p>Hàng chính hãng Jordan 1 Low All White 553560130</p>
                        </div>

                        <div class="tab-pane fade" id="tab3">
                            <p><strong>Size 1</strong></p>
                            <p><strong>Kích thước:</strong></p>

                            <p>Gợi ý phối đồ:</p>
                            <p>- Chiều cao: Từ 1m60 đến 1m70</p>
                            <p>- Cân nặng: Từ 60kg đến 70kg</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="owl-carousel owl-theme">
                <div class="item pro-loop">
                    <div class="product-block product-resize fixheight" data-anmation="1" style="height: 255px;">
	                    <div class="product-img">
		                    <div class="product-sale"><span>-10%</span></div>		
		                    <a href="/products/essential-varsity-jacket-gray-scale" title="Essential Varsity Jacket &quot;Gray Scale&quot;" class="image-resize" style="height: auto;">
			                    <picture>
			                          <img class="img-loop" title="collector" src="https://bizweb.dktcdn.net/100/294/379/products/23f6c98e-7914-43e7-9d9b-2b550ec70fba.jpg?v=1623146377000" />
                                </picture>
		                    </a>
	                    </div>
	                    <div class="product-detail clearfix">
		                    <div class="box-pro-detail">
			                    <h3 class="pro-name">
				                    <a href="/products/essential-varsity-jacket-gray-scale" title="Essential Varsity Jacket &quot;Gray Scale&quot;">
					                    Essential Varsity Jacket "Gray Scale"
				                    </a>
			                    </h3>
			                    <div class="box-pro-prices">	
				                    <p class="pro-price highlight">799,000₫
					                    <span class="pro-price-del"><del class="compare-price">890,000₫</del></span>
				                    </p>
			                    </div>
		                    </div>
	                    </div>
                    </div>
                </div>
                
            </div
        </div>
    </div>
</section>
